# Keeps non-chart files out of the packaged chart.
.DS_Store
# Common VCS dirs
.git/
.gitignore
.gitattributes
.bzr/
.bzrignore
.hg/
.hgignore
.svn/
# Common backup files
*.swp
*.bak
*.tmp
*.orig
*~
# Various IDEs
.project
.idea/
*.tmproj
.vscode/
# Test fixtures and packaged chart archives
tests/
*.tgz

